<div class="row">

    <mat-card style="margin: 3em;">
        <mat-card-content>
        <mat-grid-list cols="1" rowHeight="2:1">
            <mat-grid-tile>
                <div id="chartContainer" class="pie-chart">
                </div>
            </mat-grid-tile>
            
            <mat-grid-tile>
                <div id="chartContainer2" class="pie-chart" >
                </div>
            </mat-grid-tile> 

            <mat-grid-tile>
                <div id="chartContainer3" class="pie-chart" >
                </div>
            </mat-grid-tile> 
        </mat-grid-list>

    </mat-card-content>
</mat-card>




</div>