<html>
    <body>
        <mat-sidenav-container class="example-container">
            <mat-sidenav opened mode="side" style="width: 100px;"></mat-sidenav>
            <div class="team-page-banner">
                <div class="container">
                    <div class="row">
                    </div>
                </div>
            </div>
        
            <div class="team-page-jumbotron">
                <div class="container">
                    <div class="row">
                        <h1> Présentation du projet de PPD </h1>
                        <h2>Ce projet a été développé par des élèves du Master 1 Miage dans le cadre d'un projet tuteuré.<br>l'enjeu majeur de ce projet fut la manipulation 
                            d'une énorme quantité de données avec des outils de Big Data. Cette application web a pour objectif de présenter des données
                        présentées sous format de statistiques et de graphiques. Ces données concernent les différentes courses des Taxis New Yorkais.<br> </h2>
        
        
                    </div>
                </div>
            </div>
           
            <div class="network-banner">
                <div class="container">
                    <div class="row ">

                        <h1> Les technologies utilisées </h1>
                        <div class="description"> <p> Pour développer cette application, nous avons utilisé les technologies suivantes : </p><br></div>
                        <div class="techno"> 
                            <section class="elt-techno">
                                <h2>Spark</h2>
                                <img style="height: 100px;" src="https://upload.wikimedia.org/wikipedia/commons/thumb/f/f3/Apache_Spark_logo.svg/1200px-Apache_Spark_logo.svg.png">
                                <hr>
                                <p> Apache Spark est un moteur de traitement de données rapide dédié au Big Data. 
                                    Il permet d’effectuer un traitement de larges volumes de données de manière distribuée 
                                    (cluster computing).</p>
                            </section>
                            <section class="elt-techno">
                                <h2>Cassandra</h2>
                                <img style="height: 100px;" src="https://upload.wikimedia.org/wikipedia/commons/thumb/5/5e/Cassandra_logo.svg/1200px-Cassandra_logo.svg.png">
                                <hr>
                                <p>Apache Cassandra est la base de données NoSQL la plus utilisée pour le stockage et le traitement de larges volumes de données.
                                    Dans le cadre de notre projet, nous l'avons utilisé pour le stockage de nos données brut
                                </p>
                            </section>
                            <section class="elt-techno">
                                <h2>Python</h2>
                                <img style="height: 100px;" src="https://communityblog.fedoraproject.org/wp-content/uploads/2015/11/Python-logo.png">
                                <hr>
                                <p>
                                    Python est un langage de programmation interprété, multi-paradigme et multiplateforme. 
                                    Il est le langage de programmation le plus utilisé dans le domaine du Machine Learning, du Big Data et de la Data Science.</p>
                            </section>                       
                    </div>
                    <div class="techno"> 
                        <section class="elt-techno">
                            <h2>Jupyter Notebook</h2>
                            <img style="height: 100px;" src="https://upload.wikimedia.org/wikipedia/commons/thumb/3/38/Jupyter_logo.svg/1200px-Jupyter_logo.svg.png">
                            <hr>
                            <p>Jupyter est une application web utilisée pour programmer dans plus de 40 langages de programmation, dont Python, Julia, Ruby, R, ou encore Scala</p>
                        </section>
                        <section class="elt-techno">
                            <h2>Hamachi</h2>
                            <img style="height: 100px;" src="https://telecharger.itespresso.fr/wp-content/uploads/2007/01/hamachi-logo.png">
                            <hr>
                            <p>LogMeIn Hamachi est une application qui permet de créer un réseau privé virtuel assez simplement. 
                                Il nous a permis de connecter les machines de chaque membre du groupe sur un serveur commun</p>
                        </section>
                        <section class="elt-techno">
                            <h2>Angular</h2>
                            <img style="height: 100px;" src="https://upload.wikimedia.org/wikipedia/commons/thumb/c/cf/Angular_full_color_logo.svg/langfr-220px-Angular_full_color_logo.svg.png">
                            <hr>
                            <p>Angular est une plateforme de développement qui permet 
                                de créer des applications web dynamiques et immersives.</p>
                        </section>                        
                </div>
                        
                    </div>
                </div>
                
            </div>
          
        
            <div class="network">
                <div class="container">
                    <div class="row">
                        <div class="col-md-12">
                            <img src="">
                        </div>
                    </div>
                </div>
            </div>
            <mat-sidenav class = "espace" opened mode="side" position="end" style="width: 100px;"></mat-sidenav>

        </mat-sidenav-container>
    </body>
</html>