
 <div class="container profile"> 
    <div class="row">
      <div class="col-xs-12"> 
  
  <section class="skills ">
    <div class="content">
      <div class="development-wrapper">
        <h2 class="development-title">Suivez l'état d'avancement de notre page</h2>
  
        <ul class="skills-bar-container">
          <li>
            <div class="progressbar-title">
              <h3>Nettoyage de données</h3>
              <span class="percent" id="html-pourcent"></span>
            </div>
            <div class="bar-container" data-percent="95">
              <span class="progressbar" id="progress-html"></span>
            </div>
          </li>
          <li>
            <div class="progressbar-title">
              <h3>Profilage de données</h3>
              <span class="percent" id="css-pourcent"></span>
            </div>
            <div class="bar-container" data-percent="85">
              <span class="progressbar" id="progress-css"></span>
            </div>
          </li>
          <li>
            <div class="progressbar-title">
              <h3>Récupération des données sur le Front</h3>
              <span class="percent" id="javascript-pourcent"></span>
            </div>
            <div class="bar-container" data-percent="70">
              <span class="progressbar" id="progress-javascript"></span>
            </div>
          </li>
          <li>
            <div class="progressbar-title">
              <h3>Front-End</h3>
              <span class="percent" id="php-pourcent"></span>
            </div>
            <div class="bar-container" data-percent="65">
              <span class="progressbar" id="progress-php"></span>
            </div>
          </li>
         
        </ul>
      </div>
      <div class="tools-knowledge-wrapper">
        <div class="tools-wrapper">
          <ul class="tools">
            <img src="https://lh3.googleusercontent.com/proxy/RaCYAOw7iZ4hydRy9f8E1n9GJZzar5mpyu6pCW9wmOt9RiNyFpnTVs19MmyqO8-jOnjynAt_-ZX2Shq8SlF30u1s-yhNcwhwXCN7s_Oba5xGeia8fxs1NTTgGAqizzTVJjBANAQ">
          </ul>
        </div>
      </div>
      <div class="clear"></div>
    </div>
    <div class="clear"></div>
  </section>
  
  
  </div>
  </div>
  </div>
  
  