<mat-sidenav-container class="example-container">
    <mat-sidenav opened mode="side" style="width: 100px;"></mat-sidenav>
            <mat-sidenav class = "espace" opened mode="side" position="end" style="width: 100px;"></mat-sidenav>
    

    <div class="team-page-jumbotron">
        
         <div class="container">
            <div class="row ">
                <h1> Contacter notre équipe : </h1>
                <div class="techno"> 
                    <section class="elt-techno">
                        <mat-card-title>Quentin Jeannot</mat-card-title>
                        <img style="height: 250px;" src="../assets/quentin2.png">
                        <hr>
                        <h3> Suivre :</h3>
                            <mat-card-actions>
                                <button mat-button><a href="https://www.linkedin.com/in/lamarawilson"><i class="fa fa-linkedin"></i></a></button>
                                <button mat-button><a href="https://plus.google.com/+LamarWilsonloveslife/posts"><i class="fa fa-google-plus"></i></a></button>
                            </mat-card-actions>
                    </section>
                    <section class="elt-techno">
                        <mat-card-title>Clémence Bui</mat-card-title>
                        <img style="height: 250px;" src="../assets/YumYum.png">
                        <hr>
                        <h3> Suivre :</h3>
                            <mat-card-actions>
                                <button mat-button><a href="https://www.linkedin.com/in/lamarawilson"><i class="fa fa-linkedin"></i></a></button>
                                <button mat-button><a href="https://plus.google.com/+LamarWilsonloveslife/posts"><i class="fa fa-google-plus"></i></a></button>
                            </mat-card-actions>
                    </section>
                    <section class="elt-techno">
                        <mat-card-title>Aurélie Diep</mat-card-title>
                        <img style="height: 250px;" src="../assets/aurelie.png">
                        <hr>
                        <h3> Suivre :</h3>
                            <mat-card-actions>
                                <button mat-button><a href="https://www.linkedin.com/in/lamarawilson"><i class="fa fa-linkedin"></i></a></button>
                                <button mat-button><a href="https://plus.google.com/+LamarWilsonloveslife/posts"><i class="fa fa-google-plus"></i></a></button>
                            </mat-card-actions>
                    </section>
                    <section class="elt-techno">
                        <mat-card-title>Nawel Charfi</mat-card-title>
                        <img style="height: 250px;" src="../assets/nawel.png">
                        <hr>
                        <h3> Suivre :</h3>
                        <mat-card-actions>
                            <button mat-button><a href="https://www.linkedin.com/in/lamarawilson"><i class="fa fa-linkedin"></i></a></button>
                            <button mat-button><a href="https://plus.google.com/+LamarWilsonloveslife/posts"><i class="fa fa-google-plus"></i></a></button>
                        </mat-card-actions>
                    </section>
                                         
            </div>
            <div class="row " style="height: 250px;">
            </div>
                
            </div>
            </div>
    </div>
    <div class="network-banner">
        <div class="container">
        </div>
    </div>

    <div class="network">
        <div class="container">
            <div class="row">
                <div class="col-md-12">
                    <img src="">
                </div>
            </div>
        </div>
    </div>
</mat-sidenav-container>